<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title>header.html</title>
 <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 
  <style>
.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>
</head>
<body>

<!-- 
<header style="height: 30px;background-color: maroon;color:white;">
  Hello Mr. <span th:utext="${session.userSessionVO.username}" th:unless="${session == null}" style="font-weight: bold;"></span>
</header> -->
  
<div class="container"> 
<a th:href="@{/customer/dashboard}">
  <button type="button" class="btn btn-primary">Dash Board</button>
  </a> 
  
   <a th:href="@{/customer/myProfile}">
  <button type="button" class="btn btn-primary">My Profile</button>
  </a> 
  
   <a th:href="@{/customer/addPayee}">
  <button type="button" class="btn btn-primary">Add Payee</button>
  </a> 
  
    <a th:href="@{/customer/getAllPayee}">
  <button type="button" class="btn btn-primary"> Payee List</button>
  </a> 
 
  
  <a th:href="@{/customer/makeTransfer}">   <!-- This is for transfering the money to another account -->
  <button type="button" class="btn btn-primary">Money Transfer</button>
  </a> 
  
   <a th:href="@{/customer/logout}"> 
<button type="button" class="btn btn-warning">Logout</button>
</a>
</div>
  
    <span th:utext="${message}"  style="font-weight: bold; color:blue"></span><!-- pirnt message for customer -->
  
 
</body>
</html>
